version: "3.3"
services:
  db:
    image: postgres:latest
    container_name: postgres_db
    volumes:
      - pg_data:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "5432:5432"

  minio:
    image: quay.io/minio/minio:RELEASE.2022-05-26T05-48-41Z
    volumes:
      -  minio_data:/var/lib/minio/data
    expose:
      - "9000"
      - "9001"
    env_file:
      - .env
    command: minio server --console-address ":9001" /data/minio/

volumes:
  pg_data:
  minio_data:
